<div class="color_subcontent" style="margin-top:25px;">
    <div><div class="coin_div">0<img src="/image/algo_coin.png" class="coin_img2"></div>50%</div>
    <div><div class="coin_div">100<img src="/image/algo_coin.png" class="coin_img2"></div>32%</div>
    <div><div class="coin_div">200<img src="/image/algo_coin.png" class="coin_img2"></div>10%</div>
    <div><div class="coin_div">300<img src="/image/algo_coin.png" class="coin_img2"></div>5%</div>
    <div><div class="coin_div">500<img src="/image/algo_coin.png" class="coin_img2"></div>3%</div>
</div>