<div class="color_subcontent">
    <div class="color_flex"><div><div class="color_div" style="background-color:#C0C0C0"></div>4.44%</div>
    <div><div class="color_div" style="background-color:#808080"></div>4.44%</div>
    <div><div class="color_div" style="background-color:#000000"></div>4.44%</div>
    <div><div class="color_div" style="background-color:GREEN"></div>4.44%</div>
    <div><div class="color_div" style="background-color:#784315"></div>4.44%</div>
    <div><div class="color_div" style="background-color:#FFFD55"></div>4.44%</div>
    <div><div class="color_div" style="background-color:#FFFE91"></div>4.44%</div>
    <div><div class="color_div" style="background-color:#9FFCFD"></div>4.44%</div>
    <div><div class="color_div" style="background-color:#73FBFD"></div>4.44%</div></div>

    <div class="color_flex"><div><div class="color_div" style="background-color:#A1FB8E"></div>4.44%</div>
    <div><div class="color_div" style="background-color:#0023F5"></div>4.44%</div>
    <div><div class="color_div" style="background-color:#3282F6"></div>4.44%</div>
    <div><div class="color_div" style="background-color:#F08128"></div>4.44%</div>
    <div><div class="color_div" style="background-color:#EF88BE"></div>4.44%</div>
    <div><div class="color_div" style="background-color:#A459D1"></div>4.44%</div>
    <div><div class="color_div" style="background-color:#9C2EF5"></div>4.44%</div>
    <div><div class="color_div" style="background-color:#EA3680"></div>4.44%</div>
    <div><div class="color_div" style="background-color:#C76CFF"></div>4.44%</div></div>

    <div class="color_flex"><div><div class="color_div" style="background-color:#EB3324"></div>3.33%</div>
    <div><div class="color_div" style="background-color:#F08784"></div>3.33%</div>
    <div><div class="color_div" style="background-color:#58135E"></div>3.33%</div>
    <div><div class="color_div" style="background-color:#800D07"></div>3.33%</div>
    <div><div class="color_div" style="background-color:#54A68D"></div>3.33%</div>
    <div><div class="color_div" style="background-color:#5EDEBA"></div>3.33%</div></div>
</div>