<div class="color_subcontent">
    <div class="color_flex"><div><div class="color_div" style="background-color:#C0C0C0"></div>11.42%</div>
    <div><div class="color_div" style="background-color:#808080"></div>11.42%</div>
    <div><div class="color_div" style="background-color:#000000"></div>11.42%</div>
    <div><div class="color_div" style="background-color:GREEN"></div>11.42%</div>
    <div><div class="color_div" style="background-color:#784315"></div>11.42%</div>
    <div><div class="color_div" style="background-color:#FFFD55"></div>11.42%</div>
    <div><div class="color_div" style="background-color:#FFFE91"></div>11.42%</div></div>
    <div class="color_flex"><div><div class="color_div" style="background-color:#9FFCFD"></div>3.33%</div>
    <div><div class="color_div" style="background-color:#73FBFD"></div>3.33%</div>
    <div><div class="color_div" style="background-color:#A1FB8E"></div>3.33%</div>
    <div><div class="color_div" style="background-color:#0023F5"></div>3.33%</div>
    <div><div class="color_div" style="background-color:#3282F6"></div>3.33%</div>
    <div><div class="color_div" style="background-color:#F08128"></div>3.33%</div></div>
</div>