<div class="color_subcontent">
    <div class="color_flex"><div><div class="color_div" style="background-color:#C0C0C0"></div>6.15%</div>
    <div><div class="color_div" style="background-color:#808080"></div>6.15%</div>
    <div><div class="color_div" style="background-color:#000000"></div>6.15%</div>
    <div><div class="color_div" style="background-color:GREEN"></div>6.15%</div>
    <div><div class="color_div" style="background-color:#784315"></div>6.15%</div>
    <div><div class="color_div" style="background-color:#FFFD55"></div>6.15%</div>
    <div><div class="color_div" style="background-color:#FFFE91"></div>6.15%</div></div>

    <div class="color_flex"><div><div class="color_div" style="background-color:#9FFCFD"></div>6.15%</div>
    <div><div class="color_div" style="background-color:#73FBFD"></div>6.15%</div>
    <div><div class="color_div" style="background-color:#A1FB8E"></div>6.15%</div>
    <div><div class="color_div" style="background-color:#0023F5"></div>6.15%</div>
    <div><div class="color_div" style="background-color:#3282F6"></div>6.15%</div>
    <div><div class="color_div" style="background-color:#F08128"></div>6.15%</div></div>

    <div class="color_flex"><div><div class="color_div" style="background-color:#EF88BE"></div>4.00%</div>
    <div><div class="color_div" style="background-color:#A459D1"></div>4.00%</div>
    <div><div class="color_div" style="background-color:#9C2EF5"></div>4.00%</div>
    <div><div class="color_div" style="background-color:#EA3680"></div>4.00%</div>
    <div><div class="color_div" style="background-color:#C76CFF"></div>4.00%</div></div>
</div>