<div class="color_subcontent">
    <div><div class="color_div" style="background-color:#C0C0C0"></div>14.28%</div>
    <div><div class="color_div" style="background-color:#808080"></div>14.28%</div>
    <div><div class="color_div" style="background-color:#000000"></div>14.28%</div>
    <div><div class="color_div" style="background-color:GREEN"></div>14.28%</div>
    <div><div class="color_div" style="background-color:#784315"></div>14.28%</div>
    <div><div class="color_div" style="background-color:#FFFD55"></div>14.28%</div>
    <div><div class="color_div" style="background-color:#FFFE91"></div>14.28%</div>
</div>