<div class="quiz_border">
    <div class="quiz_title">
	빈칸에 들어갈것으로 알맞은 것은?
    </div>
    <div class="problem_explain" id="problem_explain">
	김남훈은 <div class="hidden_text" id="hidden_text">바보다</div> 그것도 완전
    </div>
    <div class="quiz_content">
    	<div class="input_flex">
		<input class="input_text" id="input_answer"><div class="submit" onclick="quiz_submit()">제출</div>
	</div>
    </div>
    <div class="quiz_explain">
	<div class="explain_text" id="explain_text"></div>	
    </div>
    <div class="quiz_next">다음 문제</div>
</div>
