<div class="color_subcontent">
    <div class="color_flex"><div><div class="color_div" style="background-image: linear-gradient(135deg, #F08650 50%, #EB3324 50%);"></div>6.50%</div>
    <div><div class="color_div" style="background-image: linear-gradient(135deg, #FDB789 50%, #FD9395 50%);"></div>6.50%</div>
    <div><div class="color_div" style="background-image: linear-gradient(135deg, #FFFD53 50%, #FFA250 50%);"></div>6.50%</div>
    <div><div class="color_div" style="background-image: linear-gradient(135deg, #F5D851 50%, #F5942D 50%);"></div>6.50%</div>
    <div><div class="color_div" style="background-image: linear-gradient(135deg, #CDF576 50%, #72F5A9 50%);"></div>6.50%</div>
    <div><div class="color_div" style="background-image: linear-gradient(135deg, #73FD79 50%, #54B89E 50%);"></div>6.50%</div>
    <div><div class="color_div" style="background-image: linear-gradient(135deg, #80d596 50%, #156344 50%);"></div>6.50%</div></div>
    <div class="color_flex"><div><div class="color_div" style="background-image: linear-gradient(135deg, #62C0BA 50%, #74A0C0 50%);"></div>6.50%</div>
    <div><div class="color_div" style="background-image: linear-gradient(135deg, #73FBFD 50%, #3282F6 50%);"></div>6.50%</div>
    <div><div class="color_div" style="background-image: linear-gradient(135deg, #3282F6 50%, #0018A6 50%);"></div>6.50%</div>
    <div><div class="color_div" style="background-image: linear-gradient(135deg, #7889C0 50%, #A76DAD 50%);"></div>6.50%</div>
    <div><div class="color_div" style="background-image: linear-gradient(135deg, #F784FD 50%, #8483FD 50%);"></div>6.50%</div>
    <div><div class="color_div" style="background-image: linear-gradient(135deg, #EF88BE 50%, #EA3FF7 50%);"></div>6.50%</div>
    <div><div class="color_div" style="background-image: linear-gradient(135deg, #ED5AF5 50%, #B82FF5 50%);"></div>6.50%</div></div>
    <div class="color_flex"><div><div class="color_div" style="background-image: linear-gradient(135deg, #DAF7A6 50%, #9AD255 50%);"></div>1.50%</div>
    <div><div class="color_div" style="background-image: linear-gradient(135deg, #FFD459 50%, #FF5F84 50%);"></div>1.50%</div>
    <div><div class="color_div" style="background-image: linear-gradient(135deg, #808080 50%, #000000 50%);"></div>1.50%</div>
    <div><div class="color_div" style="background-image: linear-gradient(135deg, #DC89DE 50%, #928BDE 50%);"></div>1.50%</div>
    <div><div class="color_div" style="background-image: linear-gradient(135deg, #7E84F7 50%, #732BF5 50%);"></div>1.50%</div>
    <div><div class="color_div" style="background-image: linear-gradient(135deg, #F08784 50%, #EB3324 50%);"></div>1.50%</div></div>
</div>